{% extends 'LiuggioHelpDeskBundle:Default:index.html.twig' %}
{% block content %}


<h1>{{ "tickets_entity"|trans }}</h1>
<br/>
<hr/>
<br/>
<a href="{{ path('ticket', { 'state': 'open' }) }}">{{ "open_state"|trans }}</a>
<a href="{{ path('ticket', { 'state': 'closed' }) }}">{{ "closed_state"|trans }}</a>
<a href="{{ path('ticket', { 'state': 'all' }) }}">{{ "all_state"|trans }}</a>
<br/>
<form action="{{ path('ticket_search', { 'state': state }) }}" method="get" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ "search_action"|trans }}</button>
    </p>
</form>
<hr/>
<hr/>


{% for flashMessage in app.session.flashbag.get('notice') %}
    <br/>
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
{% if entities|length %}
<br/>

<table class="records_list">
    <thead>
    <tr>

        <th>{{ "category"|trans }}</th>
        <th>{{ "id_property"|trans }}</th>
        <th>{{ "subject_property"|trans }}</th>
        <th>{{ "body_property"|trans }}</th>
        <th>{{ "language_property"|trans }}</th>
        <th>{{ "createdAt_property"|trans }}</th>
        <th>{{ "updatedAt_property"|trans }}</th>
        <th>{{ "actions_action"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td><a href="?s[request_pattern]={{ entity.category.name }}">{{ entity.category.name|trans }}</a></td>
        <td align="center"><a href="{{ path('ticket_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td><a href="{{ path('ticket_show', { 'id': entity.id }) }}">{{ entity.subject }}</a></td>
        <td>{{ entity.body }}</td>
        <td>{{ entity.language }}</td>
        <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif%}</td>
        <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif%}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('ticket_show', { 'id': entity.id }) }}">{{ "show_action"|trans }}</a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<br/>
<p>
<h3>{{ "no_ticket_found_message"|trans }}</h3>
</p>
<br/>
{% endif %}

{% for flashMessage in app.session.flashbag.get('reRate_error_msg') %}
    <div class="flash-notice">
        {{ flashMessage | trans }}
    </div>
{% endfor %}
    <br/>
{% for flashMessage in app.session.flashbag.get('ratedTickedId') %}
    <div class="flash-notice">
        {{ "ticket_id"|trans }}: {{ flashMessage }}
    </div>
{% endfor %}
    <br/>
{% for flashMessage in app.session.flashbag.get('rating') %}
    <div class="flash-notice">
        {{ "rating_assigned"|trans }}: {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('thank_rate_msg') %}
<div class="flash-notice">
    {{ flashMessage }}
</div>
{% endfor %}

<ul>
    <li>
        <a href="{{ path('ticket_new') }}">
            {{ "new_action"|trans }} {{ "ticket_entity"|trans }}
        </a>
    </li>
</ul>

{% endblock %}
