{% extends 'LiuggioHelpDeskBundle:Default:index.html.twig' %}
{% block content %}


<h1>{{ "rate_action"|trans }}</h1>

{% block rate_form %}
<ul class="record_actions">

    <li>
        <form action="{{ path('ticket_rate') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit" name="rate" value="rate" >{{ "rate_action"|trans }}</button>
                <a href = "{{ path('ticket') }}" >{{ "skip_action"|trans }}</a>
            </p>
        </form>
    </li>
</ul>
{% endblock rate_form %}

{% endblock %}