{% extends 'LiuggioHelpDeskBundle:Ticket:show.html.twig' %}

{% block comment %}
<ul class="record_actions">

    <li>
        <form action="{{ path('comment_create') }}" method="post" {{ form_enctype(comment_create) }}>
            {{ form_widget(comment_create) }}
            <p>
                <button type="submit">{{ "addComment_button"|trans }}</button>
            </p>
        </form>
    </li>
</ul>
{% endblock comment %}

{% block close_form %}
<ul class="record_actions">

    <li>
        <form action="{{ path('ticket_close', { 'id': entity.id }) }}" method="post" {{ form_enctype(ticket_close) }}>
            {{ form_widget(ticket_close) }}
            <p>
                <button type="submit">{{ "closeTicket_button"|trans }}</button>
            </p>
        </form>
    </li>
</ul>
{% endblock close_form %}