<h1>Comment list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Body</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('comment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.body }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('comment_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('comment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('comment_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
