{% extends 'LiuggioHelpDeskBundle:Default:index.html.twig' %}
{% block content %}

<h1>Ticket list</h1>
<br/>
<hr/>
<br/>
<a href="{{ path('ticket_admin', { 'state': 'open' }) }}">{{ "open_state"|trans }}</a>
<a href="{{ path('ticket_admin', { 'state': 'closed' }) }}">{{ "closed_state"|trans }}</a>

<br/>
<form action="{{ path('ticket_search_admin', { 'state': state }) }}"
      method="get" {{ form_enctype(form) }}>{{ form_widget(form) }}
    <p>
        <button type="submit">{{ "search_action"|trans }}</button>
    </p>
</form>
<hr/>

<br/>
{% for flashMessage in app.session.flashbag.get('invalid_search_form_notice') %}
<div class="flash-notice">
    {{ flashMessage | trans }}
</div>
{% endfor %}
<br/>

<ul>your categories
    {% for category in categories %}
    <li><a href="?s[request_pattern]={{ category.name }}">{{ category.name|trans }}</a></li>
    {% endfor %}
</ul>


{% if entities|length %}
<table class="records_list">
    <thead>
    <tr>
        <th>{{ "id_property"|trans }}</th>
        <th>{{ "subject_property"|trans }}</th>
        <th>{{ "body_property"|trans }}</th>
        <th>{{ "language_property"|trans }}</th>
        <th>{{ "createdAt_property"|trans }}</th>
        <th>{{ "updatedAt_property"|trans }}</th>
        <th>{{ "actions_action"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td><a href="{{ path('ticket_show_admin', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.subject }}</td>
        <td>{{ entity.body }}</td>
        <td>{{ entity.language }}</td>
        <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif%}</td>
        <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif%}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('ticket_show_admin', { 'id': entity.id }) }}">{{ "show_action"|trans }}</a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<br/>
<p>
<h3>{{ "no_ticket_found_message"|trans }}</h3>
</p>
<br/>
{% endif %}

{% endblock %}