{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block preview %}
<ul class="pills">
    <li><a><strong>{{ "label.state"|trans }}</strong></a></li>

    <li><a href="{{ admin.generateUrl('list', {'state' : '1' }) }}">{{ "pending"|trans }}</a></li>
    <li><a href="{{ admin.generateUrl('list', {'state' : '2' }) }}">{{ "closed"|trans }}</a></li>
</ul>
{% endblock %}