{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block preview %}
<strong>{{ "label.state"|trans }}</strong>

<a class="btn" href="{{ admin.generateUrl('list', {'state' : '1' }) }}">{{ "pending"|trans }}</a>
<a class="btn" href="{{ admin.generateUrl('list', {'state' : constant('Liuggio\\HelpDeskBundle\\Entity\\TicketState::STATE_CLOSED') }) }}">{{ "closed"|trans }}</a>

{% endblock %}